.wrapper {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/react-half.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;    
    background-color: #282d35;
    color: #fff;
}

.content {
    flex: 1;
    margin-left: 32px;
    margin-top: 32px;
}

h2{
    font-size: 40px;
    letter-spacing: -0.05em;
    margin: 0px;
}

li{
    padding: 8px;
    max-width: 400px;
}

li::marker{
    color: #61dafb;
    font-size: 1.4em;
}

.section {
    padding: 16px;
}