.header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #21222a;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    color: #61dafb;
}

.nav-title {
    align-items: center;
    list-style: none;
    display: flex;
    font-size: 24px;
}

.nav-title > img {
    width: 48px;
    margin-right: 16px;
}

.nav-items {
    align-items: center;
    list-style: none;
    display: flex;
    color: #fff;
    font-weight: 600;
}

.nav-items > li {
    padding: 24px;
}
