
.footer {
    color: white;
    background-color: black;
}

.footer > small {
    align-items: center;
    display:flex;
    color: white;
    background-color: black;
    justify-content:center;
    align-items:center;
    height: 40px;
}